.note-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.note-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.note-container:last-child {
  margin-right: 0;
}

.status-title {
  text-align: center;
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.note-card {
  padding-bottom: 2rem;
}

.note-list.hidden {
  display: none;
}

.note-list {
  display: flex;
  flex-direction: column;
}

.toggle-button-container {
  align-self: self-end;
  padding: 0 15px 5px 0;
}

.toggle-button {

}


