.new-note {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  display: none;
}

.note-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.note-input label {
  flex: 1;
  margin-right: 1rem;
  color: #000;
}

.note-input input,
.note-input select,
.note-input textarea {
  flex: 2;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  color: #000;
}

.new-note-button-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.new-note-button {
  font-size: 1rem;
}

.add-note-button {
  margin-right: 15px;
  font-size: 1rem;
}

.cancel-add-note-button{
  font-size: 1rem;
}

.new-note-container.dark-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
