.note {
  padding: 1rem;
  overflow: hidden;
  border-radius: 5%;
  overflow: auto;
}

.note p {
  color: #000;
}

.note-title {
  text-align: center;
  text-transform: capitalize;
  color: #000;
}

.note-info {
  display: none;
}

.note-buttons {
  display: flex;
  gap: 5px;
  justify-content: end;
}
