.note {
  padding: 1rem;
  overflow: hidden;
  border-radius: 5%;
  overflow: auto;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.7);
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #F5F6F7;
}

.note p {
  color: #000;
}

.note-title {
  text-align: center;
  text-transform: capitalize;
  color: #000;
}

.note-info {
  display: none;
}

.note-buttons {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: end;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.note-priority-color {
  width: 10%;
  height: 1rem;
  opacity: 1.0;
  border-radius: 15px;
  }

.quick-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
