/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
  color: #d9dcd6;
}

.button {
  font-size: 14px;
  background-color: #16425b;
  border-radius: 6px;
}

.button:hover {
  background-color: #d9dcd6;
  color: #16425b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
