/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
  color: #d9dcd6;
}

.button {
  font-size: 14px;
  background-color: #16425b;
  border-radius: 6px;
}

.button:hover {
  background-color: #d9dcd6;
  color: #16425b;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3a7ca5 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3a7ca5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4490bf;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #224860;
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: end;
}
